  h3
  {
    font-size: 25px !important;
  }
  canvas {
    border: 1px solid #020e26;
    border-radius: 8px;
  }
 body {
  background-color: #3bd9d9;
 }
  .takeSnapshot {
    font-size: 24px;
    color: #020e26;
    background-color: transparent;
    border: 1px solid #020e26;
    border-radius: 8px;
    padding: 12px 32px;
    transition: 0.4s;
  }

  .takeSnapshot:hover {
    color: #ffffff;
  }

  .takeSnapshot::before {
    content: "";
    position: absolute;
    height: 62px;
    width: 225px;
    z-index: -1;
    border-radius: 8px;
    background-color: #3bd9d9;
    transform: translate(-24px, -8px);
    transition: 0.4s;
  }

  .takeSnapshot:hover::before {
    background-color: #b527cf;
    transform: translate(-33px, -13px);
  }